{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block javascripts %}
    <script>
        window.myConfig = {
            api: {
                path: "{{ api.path }}",
                token: "{{ api.token }}",
            }
        };
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}
